.vacio{
    padding: 40px;
    margin-left: 20px;
    color: #40290d;
    font-size: 2rem;
}

.agregar{
    padding: 40px;
    margin-left: 20px;
    color: #40290d;
    font-size: 1.5rem;
    text-decoration: underline;
}

.total{
    padding-bottom: 20px;
    color: #40290d;
    font-size: 1.5rem;
    margin-left: 30px;
    text-align: center;
}