.container{
    width: 100%;
    margin: auto;
}

.detail{
    margin-top: 0rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.detail__image{
    width: 100%;
}

.content{
    width: 100%;
}