.container{
    width: 100%;
    margin: auto;
}

.detail{
    margin-top: 0rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.detail__image{
    height: 500px;
    margin: 10px;
}

.content{
    margin: 10px;
    color: #40290d;
}