.container{
    width: 100%;
    margin: auto;
}

.detail{
    margin-top: 0rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.detail__image{
    height: 500px;
    margin: 10px;
}

.content{
    margin: 10px;
    color: #40290d;
}

.precio{
    padding-bottom: 12px;
    padding-top: 12px;
}

.link{
    color: #40290d;
    text-decoration: underline;
    padding-top: 10px;
    font-size: 1.3rem;
    padding-right: 20px;
}