/* .nav_brand */

*{
    margin: 0;
    padding: 0;
 } 

body{
    background-color: #ded5ca;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 } 

.nav_list{
    display: flex;
    padding-top: 16px;
}

.nav{
    display: flex;
    flex-direction: row;
    background-color: #9D7456;
    padding: 10px;
    justify-content: space-between;
    align-items: right;
}

.nav_link{
    flex-direction: row;
    margin-right: 10px;
    color: #40290d;
}

li{
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

a{
    text-decoration: none;
}

nav ul li a:hover{
    color: #ded5ca;
}

.logo{
    height: 50px;
    width: auto;
}